{% load headerData static %}
{% get_information as info %}
{% nav_skill as ex_skill %}
{% nav_degree as ex_degree %}
{% nav_portfolio as ex_portfolio %}
{% nav_package as ex_package %}

<!-- header section start -->
<div class="header_section" id="top">

    {% if info.profile %}
    <div class="myimage_header">
        <img src="{{ info.profile.url }}" alt="my image">
    </div>
    {% endif %}

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a><span>grand</span><span>KAVEH</span></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#service">Service</a>
                </li>

                {% if ex_portfolio %}
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                {% endif %}

                {% if ex_skill %}
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                {% endif %}

                {% if ex_package %}
                <li class="nav-item">
                    <a class="nav-link" href="#apps">Apps</a>
                </li>
                {% endif %}

                {% if ex_degree %}
                <li class="nav-item">
                    <a class="nav-link" href="#degrees">Degrees</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>

            </ul>
        </div>
        </nav>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <section class="slide-wrapper">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                <h3 class="banner_text">Hello I'm <br>Saeed Reza</h3>
                                <h1 class="banner_taital"><span class="text-orange">FrontEnd</span> Developer</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="social_icon">
                                <ul>
                                    {% if info.telegram %}<li><a href="{{ info.telegram }}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.github %}<li><a href="{{ info.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.ln %}<li><a href="{{ info.ln }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.insta %}<li><a href="{{ info.insta }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                <h3 class="banner_text">Hello I'm <br>Saeed Reza</h3>
                                <h1 class="banner_taital"><span class="text-orange">BackEnd</span> Developer</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="social_icon">
                                <ul>
                                    {% if info.telegram %}<li><a href="{{ info.telegram }}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.github %}<li><a href="{{ info.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.ln %}<li><a href="{{ info.ln }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.insta %}<li><a href="{{ info.insta }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                <h3 class="banner_text">Hello <br> I'm a programmer</h3>
                                <h1 class="banner_taital">My Nickedname is <span class="text-orange">Kaveh</span></h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="social_icon">
                                <ul>
                                    {% if info.telegram %}<li><a href="{{ info.telegram }}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.github %}<li><a href="{{ info.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.ln %}<li><a href="{{ info.ln }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                                    {% if info.insta %}<li><a href="{{ info.insta }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        </section>
        <div class="container">
        <div class="video_bt">
            <div class="play_icon"><a href="#portfolio"><img src="{% static '/images/play-icon.png' %}"></a></div>
        </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->